body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 16px;
}

h1, h2 {
  margin-top: 0;
}

h2 {
  font-size: 32px;  
  color: #24226b;
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: bold;  
}

a {
  color: #c92c61;
}

header {
  max-height: 500px;
  background: #c92c61;
  color: #FFFFFF;
  overflow: hidden;
  text-align: center;
}

header h1 {
  text-align: left;
  max-width: 920px; 
  padding: 0 20px;
  margin: 20px auto 0px; 
  font-size: 32px;
}

header h1:before {
  content: "";
  display: inline-block;
  background: url(../img/icon.png);  
  background-position: bottom left;
  background-size:contain;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  width: 38px;
  height: 38px;
  margin-right: 10px;
}

header .Screenshot {
  width: 100%;
  max-width: 820px;
}

section {
  padding: 40px 20px;
  max-width: 746px;  
  margin: 0px auto;     
}

.Overview p {
  font-size: 32px;  
  color: #24226b;
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: bold;
}

.Overview p:last-child {
  margin-bottom: 0;
}

.Video {
  max-width: none;
  background-color: #F1F1F1;
  text-align: center;
}

.Content {
  max-width: 746px;
  margin: 0px auto;
}

.VideoContainer {
  position: relative;
  padding-bottom: 52.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.VideoContainer iframe,
.VideoContainer object,
.VideoContainer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.MailingList label {
  display: block;
}

.MailingList input {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 90%;
  max-width: 500px;
  display: inline-block;
  vertical-align: top;
}

.MailingList #mc-embedded-subscribe {
  background: #c92c61;
  color: #fff;
  border: 0;
  height: 39px;
  padding: 10px 20px;  
  margin-top: 20px;
  display: inline-block;
  vertical-align: top;
  border-radius: 4px;
  font-size: 16px;
  width: 200px;
  cursor: pointer;
  -webkit-appearance: none;
}

.MailingList #mc-embedded-subscribe:hover {
  background: #e03f75;
}

.Features ul {
  padding-left: 20px;
}

.Features li {
  margin-bottom: 15px;
  line-height: 25px;
}

footer {
  background-color: #F1F1F1;  
  padding: 40px 20px;
}

footer a { 
  text-decoration: none;
}

footer svg {
  margin-right: 20px;
  fill: #24226b;  
}

@media only screen and (max-width: 640px) {

  header .Screenshot {
    padding: 20px;
  }

  .Icon {
    display: none;
    width: 205px;
    height: 180px;
    background: url(../img/icon-shadow.png);
    left: 0px;
    top: 0px;
    position: static;
  }

  section {
    padding: 20px;
  }  

  .Overview .Content {
    padding-left: 0;
  }

  .Overview p {
    font-size: 24px;
    margin-bottom: 18px;
  }

}