<section class="homepage-hero">
    <div class="container">
        <div class="homepage-hero__content">
            <h2>
                A <strong>free</strong> and <strong>easy</strong> to use retro
                <strong>game creator</strong> for your favourite handheld video game
                system.
            </h2>
            <h3>Available on Windows, Mac and Linux.</h3>
            <a id="download-btn" class="homepage-hero__button" href="/download/">
                Download on Itch.io
            </a>
        </div>
        <div class="homepage-hero__image">
            <div class="swiper-container js-swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/img/screenshot_win_1.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/screenshot_win_2.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/screenshot_win_3.png" />
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>