<section class="homepage-hero">
    <div class="container">
        <div class="homepage-hero__content">
            <h2>
                A <strong>quick</strong> and </strong><strong>easy</strong> to use <strong>drag and drop</strong> retro
                <strong>game creator</strong> for your favourite handheld video game
                system.
            </h2>
            <h3>Available on Windows, Mac and Linux.</h3>
            <a id="download-btn" class="homepage-hero__button" href="https://chrismaltby.itch.io/gb-studio">
                Download on Itch.io
            </a>
        </div>
        <div class="homepage-hero__image">
            <div class="swiper-container js-swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="https://youtu.be/Wk96Pf6OL8Y"><img id="app-screenshot-0" src="/img/screenshot_gbs2-f.png" /></a>
                    </div>
                    <div class="swiper-slide">
                        <img id="app-screenshot-1" src="/img/screenshot_empty.gif" />
                    </div>
                    <div class="swiper-slide">
                        <img id="app-screenshot-2" src="/img/screenshot_empty.gif" />
                    </div>
                    <div class="swiper-slide">
                        <img id="app-screenshot-3" src="/img/screenshot_empty.gif" />
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>