<section class="homepage-highlights">
    <div class="container">
        <h2>Made with <strong>GB Studio</strong></h2>
        <div class="homepage-highlights__games">
            <div class="homepage-highlights__game">
                <div class="homepage-highlights__thumbnail"
                    style="background-image: url({{"/img/made_in_gbstudio/deadeus.png" | relURL }})"></div>
                <h3>Deadeus</h3>
                <h4>By <a href="https://twitter.com/iwazaru91">@iwazaru91</a></h4>
                <p>
                    A small boy has a prophetic nightmare that everyone in his village
                    will die in 3 days. Can you save everyone?
                </p>
                <a class="homepage-highlights__button" href="https://izma.itch.io/deadeus">
                    Play Now
                </a>
            </div>
            <div class="homepage-highlights__game">
                <div class="homepage-highlights__thumbnail"
                    style="background-image: url({{"/img/made_in_gbstudio/penaltykick91.png" | relURL }})"></div>
                <h3>Penalty Kick '91</h3>
                <h4>By <a href="https://twitter.com/kidphoenx">@kidphoenx</a></h4>
                <p>
                    Show off your penalty skills! Penalty Kick '91 is an epic Penalty
                    Shoutout for Soccer (and Game Boy) lovers.
                </p>
                <a class="homepage-highlights__button" href="https://kidphoenx.itch.io/penalty-kick-91">
                    Play Now
                </a>
            </div>
            <div class="homepage-highlights__game">
                <div class="homepage-highlights__thumbnail"
                    style="background-image: url({{"/img/made_in_gbstudio/soulvoid.png" | relURL }}); background-position: center top;">
                </div>
                <h3>Soul Void</h3>
                <h4>
                    By <a href="https://twitter.com/KadaburaDraws">@KadaburaDraws</a>
                </h4>
                <p>
                    Travel through the shifting darkness of the Soul Void to find your way
                    back home and help lost souls along the way.
                </p>
                <a class="homepage-highlights__button" href="https://kadabura.itch.io/soul-void">
                    Play Now
                </a>
            </div>
            <div class="homepage-highlights__game">
                <div class="homepage-highlights__thumbnail"
                    style="background-image: url({{"/img/made_in_gbstudio/gurbsadventure.png" | relURL }})"></div>
                <h3>Gurb's Adventure</h3>
                <h4>By <a href="https://twitter.com/petermilko">@petermilko</a></h4>
                <p>
                    Gurbs is a gnome that lives in the Little Tree Forrest. He wakes up to
                    a squirrel taking his hat, the adventure begins!
                </p>
                <a class="homepage-highlights__button" href="https://petermilko.itch.io/gurbs-adventure">
                    Play Now
                </a>
            </div>
        </div>
    </div>
</section>