<section class="homepage-keypoints">
    <div class="container">
        <div>
            <h2>
                <strong>Drag and drop</strong> game creator with simple,
                <strong>no knowledge</strong> required,
                <strong>visual scripting</strong>. Bring your own <strong>PNGs</strong>.
            </h2>
            <h2>
                Create real <strong>ROM files</strong> and play on any
                <strong>GB emulator</strong>. Using a <strong>flash cart</strong> you
                can even play on a <strong>console</strong>.
            </h2>
            <h2>
                <strong>Export for web</strong> with great
                <strong>mobile controls</strong>, upload to
                <strong><a href="https://itch.io">Itch.io</a></strong> and
                <strong>share</strong> your game with the <strong>world</strong>.
            </h2>
            <a class="button" href="/docs/">Get Started</a>
        </div>
        <div class="homepage-cart">
            <div class="cart">
                <div class="scene">
                    <div class="cube">
                        <div class="face front">
                            <div class="gloss"></div>
                        </div>
                        <div class="face bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>