<section class="homepage-footer">
    <div class="container">
        <h2>tl;dr</h2>
        <ul>
            <li>Visual game builder with no programming knowledge required.</li>
            <li>
                Design your graphics in any editor that can output PNG files e.g.
                Photoshop, Tiled, Aseprite.
            </li>
            <li>Example projects included to get started right away.</li>
            <li>Make top down 2D games. platformers, point and click games and shoot 'em ups.</li>
            <li>
                Support for GB, GB Color, Super GB and Analogue Pocket™ devices.
            </li>
            <li>
                Build real GB Rom files which can be played in an emulator or on device
                using Flash Carts.
            </li>
            <li>
                Build a HTML5 playable game that also works on mobile and can deployed
                to any webserver or uploaded to Itch.io.
            </li>
            <li>Built for macOS, Windows and Linux.</li>
        </ul>
    </div>
</section>