<section class="homepage-landing">
  <div class="container">
    <div class="homepage-landing__content">
      <h2>
        A free and easy to use retro adventure game creator for your favourite
        handheld video game system
      </h2>
      <a id="download-btn" class="homepage-landing__button" href="/download/">Download</a>  
      <a id="download-link" class="homepage-landing__link" href="/download/">More Downloads</a>
    </div>
    <div class="homepage-landing__image">
    <img src="/img/screenshot.png" />
  </div>
  </div>
</section>
