<section class="homepage-video">
  <div class="Video">
    <div class="VideoContainer">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/9k3RPaziVcw"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>

<section class="homepage-footer">
  <div class="container">
    <h2>tl;dw</h2>
    <ul>
      <li>Visual game builder with no programming knowledge required.</li>
      <li>
        Design your graphics in any editor that can output PNG files e.g.
        Photoshop, Tiled, Aseprite.
      </li>
      <li>Example project included to get started right away.</li>
      <li>Make top down 2D JRPG style adventure games.</li>
      <li>
        Build real GB Rom files which can be played in an emulator or on device
        using USB Carts.
      </li>
      <li>
        Build a HTML5 playable game that also works on mobile and can deployed
        to any webserver or uploaded to Itch.io.
      </li>
      <li>Built for macOS, Windows and Linux.</li>
      <li>Supports both macOS light and dark mode.</li>
      <li>
        Includes the full tools that were used to build
        <a href="https://chrismaltby.itch.io/untitled-gb-game"
          >Untitled GB Game</a
        >, free to play on Itch.io.
      </li>
    </ul>
  </div>
</section>
