<nav>
  <div class="container">
    <a class="title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <div class="nav_right">
      <label id="hamburger" for="menu_open">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z" />
        </svg>
      </label>
      <input id="menu_open" type="checkbox" />
      <span>
        <label class="menufade" for="menu_open"></label>
        <ul>
          {{ range .Site.Menus.main }}
          <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </span>
    </div>
  </div>
</nav>
