html,
body {
  height: 100%;
}

body {
  /* background: #000; */
  /* opacity: 0.1; */
}

body {
  margin: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 300;
  color: #c92c61;
  font-size: 2rem;
}

h2 {
  font-weight: 300;
  color: #c92c61;
  font-size: 1.6rem;
  margin: 20px 0;
}

h3 {
  font-weight: 300;
  color: #c92c61;
  font-size: 1.1rem;
  font-weight: normal;
  margin: 20px 0;
}

main h2,
main h3 {
  margin: 2rem 0;
}

p {
  font-family: Georgia, serif;
  color: #333;
  line-height: 1.6;
  font-size: 1.1rem;
}

em {
  color: #000;
}

ol {
  font-family: Georgia, serif;
  line-height: 1.6;
  font-size: 1.1rem;
  padding-left: 20px;
}

ul {
  font-family: Georgia, serif;
  line-height: 1.6;
  font-size: 1.1rem;
  list-style-type: disc;
  padding-left: 20px;
}

ul ul {
  list-style-type: disc;
}

li {
  line-height: 2rem;
}

a {
  color: #c92c61;
}

img {
  max-width: 100%;
  border: 0;
}

header {
  background: #c92c61;
}

.Swatch {
  display: inline-block;
  clear: both;
  background: #071821;
  width: 20px;
  height: 20px;
  margin-right: 2px;
  border-radius: 2px;
  margin-right: 5px;
  vertical-align: middle;
}

.SwatchLabel {
  display: inline-block;
  font-family: monospace;
  margin-bottom: 5px;
  user-select: all;
  -webkit-user-select: all;
}

.HelpSprite {
  height: 48px;
  image-rendering: pixelated;
}

.InfoBox {
  background: #eee;
  padding: 10px;
  margin: 10px 0;
  max-width: 350px;
  border-radius: 4px;
  line-height: 1.6;
}

.event-preview {
  width: 100%;
  max-width: 301px;
  margin-top: 20px;
  margin-right: 20px;
}

.new {
  color: #fff;
  background: #c92c61;
  font-size: 12px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 2px 5px;
  border-radius: 20px;
  position: relative;
  top: -2px;
  display: inline-block;
  line-height: 1.6;
}

hr {
  background: #eee;
  height: 1px;
  border: 0;
  margin: 90px 0;
}

.next-page {
  font-weight: 300;
  color: #c92c61;
  font-size: 1.6rem;
  margin: 3rem 0 2rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
  overflow-x: auto;
}
table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}
table td,
table th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em;
}
table td:first-child,
table th:first-child {
  border-left-width: 0;
}
table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}
table td {
  background-color: transparent;
}
/* table-odd td,
table-striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}
table-bordered td {
  border-bottom: 1px solid #cbcbcb;
}
table-bordered tbody > tr:last-child > td {
  border-bottom-width: 0;
}
table-horizontal td,
table-horizontal th {
  border-width: 0 0 1px;
  border-bottom: 1px solid #cbcbcb;
}
table-horizontal tbody > tr:last-child > td {
  border-bottom-width: 0;
} */
