pre,
.pre {
  overflow-x: auto;
  overflow-y: hidden;
  overflow: scroll;
}

code {
  background-color: #f3f3f3;
  border-radius: 4px;
  padding: 4px;
}

pre  code {
  display: block;
  padding: 1.5em 1.5em;
  white-space: pre;
  font-size: 1rem;
  line-height: 2;
  background-color: transparent;
  border-radius: 0;
}

pre {
  background-color: #222;
  color: #ddd;
  white-space: pre;

  hyphens: none;
  position: relative;
  border-radius: 4px;
}
