footer {
  background-color: #f1f1f3;
  padding: 50px 20px;
  clear: both;
}

footer .container {
  max-width: 960px;
  padding: 0px 20px;
  box-sizing: border-box;
  margin: 0px auto;
}

footer svg {
  margin-right: 20px;
  fill: #24226b;
}

footer a {
  text-decoration: none;
}

footer a:hover svg {
  fill: #acb4c1;
}
