footer {
  background-color: #f1f1f3;
  padding: 50px 20px;
  clear: both;
  color: #24226b;
  position: relative;
  z-index: 1000;
}

footer .container {
  max-width: 960px;
  padding: 0px 20px;
  box-sizing: border-box;
  margin: 0px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer svg {
  margin-right: 20px;
  fill: #24226b;
  vertical-align: middle;
}

footer .spacer {
  flex-grow: 1;
}

footer a { 
  color: #24226b;
}

footer a.icon {
  text-decoration: none;
}

footer a:hover svg {
  fill: #acb4c1;
}

footer .copyright-thirdparty {
  display: block;
  margin-top: 20px;
  color: #8686a2;
}

@media (max-width: 700px) {
  footer .container {
    display: block;
  }
  footer .copyright {
    display: inline-block;
    margin-bottom: 20px;
  }
  footer .copyright-thirdparty {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;    
  }
  footer .dash {
    display: none;
  }
  footer a.press-kit {
    display: block;
  }
}